<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/lisbonriverside.cowork/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100083362151172"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/riverside-lisboncoworking/"><i class="fab fa-linkedin"></i></a>
    <a href="#">Terms & Privacy</a>
  </div>
  <div class="footer-copyright">
    Copyright 2022 by RiversideLisbon. All Rights Reserved.
  </div>
</div>
