<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid ms-4">
    <a class="navbar-brand" href="#">
      <div class="logo">
        <%= image_tag "Logo PNG.png", alt: "Riverside Lisbon", width: 200 %>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-4">
          <li class="nav-item active">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
          <li class="nav-item dropdown">

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), <%= image_tag "ponte.jpg" %>;">
  <div class="container d-flex justify-content-center">
    <h1><strong>Riverside Lisbon Business Center</strong></h1>
  </div>
    <div class="button-box d-flex justify-content-center mt-3" >
      <a class="btn btn-flat" href="#">Book now</a>
    </div>
</div>

<div class="about">
  <h2>About us</h2>
    <p>
      Riverside was established in 2022 as a contribution to the vision of a world where professionals are owners of their working time and space conditions while allowing for all the flexibility of one’s lifestyle.
      <br><br>
      Located in the center of Parque das Nações in the city of Lisbon to accommodate any professional in need of a comfortable and productive working space. In the surrounding areas you can enjoy the riverside view of Tejo river, walking pathways, rental bicycles and the best Portuguese food and drinks. We have single desks in a shared room that provide a private setup, individual meeting rooms and possibility to host company adresses.
      <br><br>
      Our space is equipped with the most up to date technologies, including high bandwith wi-fi internet, big TV displays on the meeting rooms, kitchen ammenities including coffee machine and snack machine. Check out our gallery page for a more closer look.
    </p>
</div>
