.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #004899;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #d9cbf0;
  color: white;
}

.orange-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #CC3600;
  transition: background 0.3s ease;
  text-decoration: none;
}

.orange-button:hover {
  background: #d9cbf0;
  color: white;
}
