.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #006DCC;
  transition: background 0.3s ease;
  font-family: 'Noto Sans', sans-serif;
}

.btn-flat:hover {
  background: #d9cbf0;
  color: white;
}

.orange-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f0794e;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  border: 0;
  outline: 0;
}

.orange-button:hover {
  background: #d9cbf0;
  color: white;
}

.plan-button {
  background-color: #f0794e;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan-button:hover, .plan-button:focus {
  background-color: #006DCC;
  text-decoration: none;
}
